.cart-items {
    border-radius: 5px;
    margin: 40px;
    padding-top: 30px !important;  
    background: #f6f9fc;
    padding-bottom: 130px !important;  
}

.cart-items .cart-total {
  background-color: white;
  padding: 20px;
  height: 150px;
}

.cart-total h4 {
  font-size: 18px;
  font-weight: 400;
}

.cart-total h3 {
  font-size: 26px;
  font-weight: 500;
  color: #0f3460;
}

.cart-total h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #0f3460;
}

.no-items {
  color: #0f3460;
  font-size: 24px;
  margin-top: 30px;
  height: 130px;
}

.cart-list {
  padding: 0px;
}

.cart-list .table-dark .header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.cart-list .item {
  text-align: center;
  font-size: 16px;
}

.cart-list .item button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
}
button.addCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #1d5d0d; 
}
button.desCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #bf4f4f;
}

@media (max-width: 767px) {
  .cart-list .table-dark .header {
    font-size: 10px;
  }
  .cart-list .item {
    font-size: 10px;
  }
  .cart-list .item button {
    width: 20px;
    height: 20px;
    border-radius: 2,5px;
    font-size: 10px;
  }
}

.cart-list .image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-items img {
  width: 90%;
  height: 90%;
  max-width: 300px;
  object-fit: contain;
}
@media (max-width: 767px) {
  .cart-items img {
    width: 120%;
    height: 100%;
    max-width: 150px;
  }
}

button.vaciar {
  border: 1px solid #bf4f4f;
  border-radius: 5px;
  background-color: #bf4f4f;
  color: white;
}

.cart-items .vaciar-carrito {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.cart-items .enviar-pedido {
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}
.wsp-icon {
  height: 26px;
}
button.enviar {
  border: 1px solid #F02B2B;
  border-radius: 5px;
  background-color: #F02B2B;
  color: #F2D324;
  font-size: 24px;
  font-weight: bold;
}



@media (max-width: 990px) {
  .wsp-icon {
    height: 20px;
  }
  button.enviar {
    font-size: 22px;
  }
  .cart-items .vaciar-carrito {
    font-size: 12px;
  }
}

@media (max-width:767px) {
  .wsp-icon {
    height: 16px; 
  }
  button.enviar {
    font-size: 18px;
  }
  .cart-items .vaciar-carrito {
    font-size: 12px;
  }
}