.product img {
    width: 100%;
    height: 350px !important;
    object-fit: contain;
    cursor: pointer;
}

.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
}

.product h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.product .rate svg {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: black;
}

.price h4 {
    margin: 20px 0 10px;
}

.price button {
    background: none;
    color: #0f3460;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.price button:hover {
    cursor: pointer;
    background-color: #0f3460;
    color: #fff;
}

button.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
}

.product:hover .product-like {
    opacity: 1;
}

.product .button {
    border-top: 1px solid #518fd5;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product .btnViewDetail {
    background-color: #518fd5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
}