@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.homeSlide {
    display: flex;
    justify-content: center;
    padding: 35px;
}

h1.title {
    color: #fff;
    flex: 1 0 100%;
    text-align: left;
    font-size: 4em;
    line-height: 0.8;
    text-shadow: 6px 4px 0px black;
    font-style: italic;
    align-self: flex-end;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
     h1.title {
        font-size: 4em;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    h1.title {
        font-size: 2.5em;
        margin-top: 20px;
    }
}

.homeSlide .box {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 6px 4px 0px black;
    margin: 10px;
    padding: 20px;
    max-width: 95%;
    display: block;
}

@media screen and (max-width: 768px) {
    .homeSlide .box {
        width: 95%;
        display: block;
    }
}

.homeSlide .box .info {
    flex: 1 0 50%;
    padding: 10px;
}

.homeSlide .box .title-info {
    text-align: left;
}

.homeSlide .box h3.issue-title {
    font-size: 1.7em;
    font-family: "Racing Sans One", serif;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0px;
}

.homeSlide .box p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.homeSlide .box .btnViewDetail {
    background-color: #518fd5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
}

.homeSlide .box h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 17px;
}

.homeSlide .box .title {
    border-bottom: 1px solid #518fd5;
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;    
}

.cover {
    height: 100%;
}
.cover img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 1399px) {
    .homeSlide .box .title {
        text-align: left;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .homeSlide .box .title {
        text-align: left;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .homeSlide .box .title-info {
        text-align: center;
    }
    .homeSlide .box .title {
        text-align: center;
        padding-bottom: 10px;
    }
}
